<div class="col-sm-6">
  <table>
    <tr class="text">
      <td><br>
        <h1 class="tags">CRM</h1>
        <p>Ener Monthly Data</p>
      </td>
    </tr>
    <td>
      <form class="text" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
        <div class="form-group">
          <label>Daily KYC requests actioned</label>
          <input required #dkra="ngModel" type="text" ngModel class="form-control" name="Daily KYC requests actioned">
          <span *ngIf="dkra.invalid && dkra.touched" class="error">Daily KYC requests actioned field is required</span>
        </div><br>
        <div class="form-group">
          <label>KYC approvals based on Dispatch/Supply</label>
          <input required #kabods="ngModel" type="text" ngModel class="form-control" name="KYC approvals based on Dispatch/Supply">
          <span *ngIf="kabods.invalid && kabods.touched" class="error">KYC approvals based on Dispatch/Supply field is required</span>
        </div><br>
        <div class="form-group">
          <label>Date</label>
          <input required #date="ngModel" type="datetime-local" ngModel class="form-control"
            name="date">
          <span *ngIf="date.invalid && date.touched" class="error">Date field is required</span>
        </div><br>
        <div class="form-group">
          <label>SLA of Email/Social Media</label>
          <input required #SLA="ngModel" type="text" ngModel class="form-control" name="SLA of Email/Social Media">
          <span *ngIf="SLA.invalid && SLA.touched" class="error">SLA of Email/Social Media field is required</span>
        </div><br>
        <div class="form-group">
          <label>Installations Scheduled</label>
          <input required #is="ngModel" type="text" ngModel class="form-control" name="Installations Scheduled">
          <span *ngIf="is.invalid && is.touched" class="error">Installations Scheduled field is required</span>
        </div><br>
        <div class='btns'>
          <button [disabled]="!userForm.form.valid" class="btn btn-success">Submit</button> &nbsp;
          <button type="reset" class="btn btn-danger">Reset</button><br> &nbsp;
        </div>
      </form>
    </td>
  </table>
</div>
